.fie-host {
  position: relative;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  width: 100%;
}

.fie-host .FIE_root {
  height: 100%;
  width: 100%;
}

.fie-host .FIE_root .FIE_toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.fie-host .FIE_topbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start !important;
}
